NEXT_PUBLIC_ENV=dev

NEXT_PUBLIC_LOCAL_API_URL="http://localhost:8000"
NEXT_PUBLIC_PROD_API_URL="https://vercel.spydr.dev"

NEXT_PUBLIC_LOCAL_CLIENT_URL="http://localhost:3000"
NEXT_PUBLIC_PROD_CLIENT_URL="https://www.spydr.dev"