NEXT_PUBLIC_ENV=dev

NEXT_PUBLIC_LOCAL_API_URL=http://localhost:8000

NEXT_PUBLIC_MCP_URL=http://localhost:9000

NEXT_PUBLIC_LOCAL_CLIENT_URL=http://localhost:4000

NEXT_PUBLIC_POSTHOG_KEY=POSTHOG_KEY
NEXT_PUBLIC_POSTHOG_HOST=POSTHOG_HOST

NEXT_PUBLIC_STYTCH_TOKEN=STYTCH_TOKEN