NEXT_PUBLIC_ENV=dev

NEXT_PUBLIC_LOCAL_API_URL=http://localhost:8000
NEXT_PUBLIC_PROD_API_URL=https://api.spydr.dev

NEXT_PUBLIC_LOCAL_CLIENT_URL=http://localhost:3000
NEXT_PUBLIC_PROD_CLIENT_URL=https://www.spydr.dev

NEXT_PUBLIC_OPENAI_API_KEY="<OPEN_API_KEY>"
NEXT_PUBLIC_TAVILY_API_KEY="<TAVILY_API_KEY>"