# MongoDB
MONGO_INITDB_ROOT_USERNAME="<MONGO_INITDB_ROOT_USERNAME>"
MONGO_INITDB_DATABASE="<MONGO_INITDB_DATABASE>"
MONGO_URL="<MONGO_URL>"

# Neo4j
NEO4J_URI="<NEO4J_URI>"
NEO4J_USERNAME="<NEO4J_USERNAME>"
NEO4J_PASSWORD="<NEO4J_PASSWORD>"

# FastAPI
FASTAPI_ENV="dev"
FASTAPI_SECRET_KEY="<FASTAPI_SECRET_KEY>"
FASTAPI_API_URL="http://localhost:8000"

# OAuth2 Configuration
OAUTH2_CLIENT_ID="<OAUTH2_CLIENT_ID>"
OAUTH2_CLIENT_SECRET="<OAUTH2_CLIENT_SECRET>"
OAUTH2_REDIRECT_URI=http://localhost:8000/auth/callback

# NextJS
NEXT_URL="http://localhost:3000"

# Pinecone
PINECONE_API_KEY="<PINECONE_API_KEY>"
PINECONE_INDEX_NAME="bucket-space"

# AI Providers
OPENAI_API_KEY="<OPENAI_API_KEY>"
GEMINI_API_KEY="<GEMENI_API_KEY>"

# AWS
S3_BUCKET_NAME="<S3_BUCKET_NAME>"
CLOUDFRONT_DOMAIN="<CLOUDFRONT_DOMAIN>"

# YouTube
YOUTUBE_API_KEY="<YOUTUBE_API_KEY>"

# Website Crawling/Preview
FIRECRAWL_API_KEY="<FIRECRAWL_API_KEY>"
PEEKALINK_API_KEY="<PEEKALINK_API_KEY>"