fastapi
pymongo>=4.10.1
neo4j
uvicorn
pydantic-settings
aiohttp
python-multipart
pinecone[grpc]
openai
boto3
requests
werkzeug
firecrawl>=2.1.2
pymupdf4llm
stripe
pymupdfpro
google-genai
stytch
pytest
black
pre-commit
