fastapi
pymongo>=4.10.1
neo4j
uvicorn
python-dotenv
pydantic-settings
passlib[bcrypt] 
fastapi-login 
aiohttp
python-multipart
pinecone
openai
boto3
requests
youtube_transcript_api
pydantic-to-typescript>=2
firecrawl
pymupdf4llm
google-genai