# MongoDB
MONGO_INITDB_ROOT_USERNAME=MONGO_INITDB_ROOT_USERNAME
MONGO_INITDB_ROOT_PASSWORD=MONGO_INITDB_ROOT_PASSWORD
MONGO_INITDB_DATABASE=MONGO_INITDB_DATABASE
MONGO_URL=MONGO_URL

# Neo4j
NEO4J_URI=NEO4J_URI
NEO4J_USERNAME=NEO4J_USERNAME
NEO4J_PASSWORD=NEO4J_PASSWORD
AURA_INSTANCEID=AURA_INSTANCEID
AURA_INSTANCENAME=AURA_INSTANCENAME

# Pinecone
PINECONE_API_KEY=PINECONE_API_KEY
PINECONE_INDEX_NAME="bucket-space"